<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create A New List</a>
            </p>
            <p>
                <a href="{% url 'todo_item_create' %}">Create A New Item</a>
            </p>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of Items</th>
                </thead>
                <tbody>
                    {% for todo in todos %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' todo.id %}">{{todo.name}}</a></td>
                            <td>{{todo.items.all|length}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    
</body>
</html>